upstream docker_magento {
	server	magento:9000;
}

upstream docker_varnish  {
	server	varnish:8080;
}

upstream docker_elasticsearch  {
	server	elasticsearch:9200;
}

upstream docker_mail  {
	server	mail:8025;
}

map $scheme $proxy_x_forwarded_ssl {
	default off;
	https on;
}

server {
	listen ${NGINX_PORT} default_server;
	listen [::]:${NGINX_PORT} ipv6only=on default_server;
	#
	server_name ${NGINX_HOST} www.${NGINX_HOST};
	#
	location ~ ^/.well-known/acme-challenge/ {
		root /tmp/acme-challenge;
	}
	#
	#location / {
		#port_in_redirect off;
		#return 301 https://$host$request_uri;
	#}
}

# fastcgi buffers for php-fpm #
fastcgi_buffers 1024 4k;
fastcgi_buffer_size 32k;
fastcgi_busy_buffers_size 32k;

# nginx buffers #
proxy_buffering	on;
proxy_buffer_size   128k;
proxy_buffers   4 256k;
proxy_busy_buffers_size   256k;
 
server {
	#listen 443 ssl http2;
	#listen [::]:443 ipv6only=on ssl http2;
	#
	server_name ${NGINX_HOST} www.${NGINX_HOST};
	#
	#ssl_certificate /etc/letsencrypt/live/${NGINX_HOST}/fullchain.pem;
	#ssl_certificate_key /etc/letsencrypt/live/${NGINX_HOST}/privkey.pem;
	#ssl_trusted_certificate /etc/letsencrypt/live/${NGINX_HOST}/chain.pem;
	#ssl_dhparam /etc/letsencrypt/ssl-dhparam.pem;
	include /etc/letsencrypt/options-ssl-nginx.conf;	
	
	location / {		
		proxy_pass	http://docker_varnish;		
		proxy_set_header	X-Real-IP	$remote_addr;
		proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
		proxy_set_header	X-Forwarded-Proto	$scheme;		
		proxy_set_header	Host	$host;
		proxy_set_header	X-Forwarded-Host	$host;
		proxy_set_header	X-Forwarded-Port	$server_port;	
		proxy_set_header	Upgrade	$http_upgrade;
		proxy_set_header	Connection	"Upgrade";
		proxy_set_header	X-Forwarded-Ssl	$proxy_x_forwarded_ssl;		
			
		#
		proxy_redirect	off;
		proxy_connect_timeout	90;
		proxy_send_timeout	90;
		proxy_read_timeout	90;
		proxy_request_buffering	off;
		#
		# Mitigate httpoxy attack
		proxy_set_header Proxy "";        
	}
	#
	access_log off;
	error_log  /var/log/nginx/${NGINX_HOST}-443.error.log error;
}

server {
	#listen 81;
	#listen [::]:81 ipv6only=on;
	#
	server_name ${NGINX_HOST} www.${NGINX_HOST};
	#

	set $MAGE_ROOT	/var/www/html;
	set $MFTF_UTILS	0;
	# set $MAGE_MODE !MAGENTO_RUN_MODE!; # Variable: MAGENTO_RUN_MODE (developer, production, default)
	
	root	$MAGE_ROOT/pub;
	index	index.php;
	autoindex off;
	charset UTF-8;
	
	location / {
		try_files $uri /index.php$is_args$args;
	}	
	
	location /pub/ {
		location ~ ^/pub/media/(downloadable|customer|import|theme_customization/.*\.xml) {
			deny all;
		}
		alias $MAGE_ROOT/pub/;
		add_header X-Frame-Options "SAMEORIGIN";
	}
	
	location /static/ {
		# Remove signature of the static files that is used to overcome the browser cache
		location ~ ^/static/version {
			rewrite ^/static/(version\d*/)?(.*)$ /static/$2 last;
		}

		location ~* \.(ico|jpg|jpeg|png|gif|svg|js|css|swf|eot|ttf|otf|woff|woff2|json)$ {
			add_header X-Frame-Options "SAMEORIGIN";
            
			if (!-f $request_filename) {
				rewrite ^/static/(version\d*/)?(.*)$ /static.php?resource=$2 last;
			}
		}
		location ~* \.(zip|gz|gzip|bz2|csv|xml)$ {
			add_header X-Frame-Options "SAMEORIGIN";

			if (!-f $request_filename) {
				rewrite ^/static/(version\d*/)?(.*)$ /static.php?resource=$2 last;
			}
		}
		if (!-f $request_filename) {
			rewrite ^/static/(version\d*/)?(.*)$ /static.php?resource=$2 last;
		}
		add_header X-Frame-Options "SAMEORIGIN";
    }
	
	location /media/ {
		try_files $uri /get.php$is_args$args;

		location ~ ^/media/theme_customization/.*\.xml {
			deny all;
		}

		location ~* \.(ico|jpg|jpeg|png|gif|svg|js|css|swf|eot|ttf|otf|woff|woff2)$ {
			add_header X-Frame-Options "SAMEORIGIN";
			try_files $uri /get.php$is_args$args;
		}
		location ~* \.(zip|gz|gzip|bz2|csv|xml)$ {
			add_header X-Frame-Options "SAMEORIGIN";
			try_files $uri $uri/ /get.php$is_args$args;
		}
		add_header X-Frame-Options "SAMEORIGIN";
	}
	
	location /media/customer/ {
		deny all;
	}
	
	location /media/downloadable/ {
		deny all;
	}

	location /media/import/ {
		deny all;
	}
    
	location /errors/ {
		location ~* \.xml$ {
			deny all;
		}
	}
	
	location /nginx_status {
		stub_status	on;
		access_log	off;
	}
	#
	# deny access to .htaccess vb. files, if Apache's document root
	location ~/\. {
		deny all;     
		log_not_found off;
	}
	#
	location ~ /.well-known {
		allow all;
	}
	#
	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}
	#
	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}
	#
	
	location ~ \.php$ {
		#NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
		fastcgi_read_timeout 600s;
		fastcgi_connect_timeout 600s;
		fastcgi_param  PHP_VALUE "max_execution_time=18000";
		include	fastcgi_params;
		fastcgi_intercept_errors	on;
		fastcgi_pass	docker_magento;
		#The following parameter can be also included in fastcgi_params file
		fastcgi_param	SCRIPT_FILENAME	$document_root$fastcgi_script_name;
	}
	#
	location ~ ^/(status|ping)$ {
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
		include	fastcgi_params;
        fastcgi_pass	docker_magento;
    }
	#
	access_log off;
	error_log  /var/log/nginx/${NGINX_HOST}-81.error.log error;
}

server {
	#listen 8090;
	#
	server_name ${NGINX_HOST} www.${NGINX_HOST};
	#
	
	location / {		
		proxy_pass	http://docker_elasticsearch;		
		proxy_set_header	X-Real-IP	$remote_addr;
		proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
		proxy_set_header	X-Forwarded-Proto	$scheme;		
		proxy_set_header	Host	$host;
		proxy_set_header	X-Forwarded-Host	$host;
		proxy_set_header	X-Forwarded-Port	$server_port;	
		proxy_set_header	Upgrade	$http_upgrade;
		proxy_set_header	Connection	"Upgrade";
		proxy_set_header	X-Forwarded-Ssl	$proxy_x_forwarded_ssl;		
			
		#
		proxy_redirect	off;
		proxy_connect_timeout	90;
		proxy_send_timeout	90;
		proxy_read_timeout	90;
		proxy_request_buffering	off;
		#
		# Mitigate httpoxy attack
		proxy_set_header Proxy "";        
	}
	#
	access_log off;
	error_log  off;
}

server {
	#listen 443 ssl http2;
	#
	server_name mail.${NGINX_HOST};
	#
	
	location / {		
		proxy_pass	http://docker_mail;		
		proxy_set_header	X-Real-IP	$remote_addr;
		proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
		proxy_set_header	X-Forwarded-Proto	$scheme;		
		proxy_set_header	Host	$host;
		proxy_set_header	X-Forwarded-Host	$host;
		proxy_set_header	X-Forwarded-Port	$server_port;	
		proxy_set_header	Upgrade	$http_upgrade;
		proxy_set_header	Connection	"Upgrade";
		proxy_set_header	X-Forwarded-Ssl	$proxy_x_forwarded_ssl;		
			
		#
		proxy_redirect	off;
		proxy_connect_timeout	90;
		proxy_send_timeout	90;
		proxy_read_timeout	90;
		proxy_request_buffering	off;
		#
		# Mitigate httpoxy attack
		proxy_set_header Proxy "";        
	}
	#
	access_log off;
	error_log  off;
}
